.top {
  width: 50%;
  @include max(1100) {
    width: 100%;
    height: 50vh;
  }
}

//begin #TOP HEADER
.top-header {
  display: flex;
  width: 100%;
  height: 193px;
  @include max(1100) {
    border-right: 5px solid #fff;
  }
}

.top-header__logo {
  flex: none;
  width: 193px;
  height: 193px;
  img {
    display: block;
  }
}

.top-header__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 20px 20px 11px 50px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  background-color: #fff9d7;
}

.top-header__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: #484e54;
}

.top-header__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  color: #484e54;
}

//end #TOP HEADER

//begin #MAIN LIST

.top-pharmacy {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100% - 193px);
  background-color: #f1f8f0;
}
.top-pharmacy__audio{
  opacity: 0;pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
}

.top-pharmacy__free {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: transform .5s;
  transform: translateX(-100%);
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  background-color: #49ad33;
  @include max(1100) {
  border-right: 5px solid #fff;

  }
  &.active {
    transform: translateX(0);
  }
}

.top-pharmacy__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-pharmacy__icon {
  width: 96px;
  height: 96px;
  margin-bottom: 20px;
  svg {
    fill: #ffe623;
    width: 96px;
    height: 96px;
  }
}

.top-pharmacy__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  max-width: 270px;
  text-align: center;
  color: #fff;
}

.top-pharmacy__list {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.top-pharmacy__item {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 25%;
  list-style: none;
  cursor: pointer;
  transition: height .5s;
  transition-delay: .5s;
  &.disabled {
    height: 0;
    .top-pharmacy__item-inn {
      animation: itemOut .5s forwards;
    }
  }
}

.top-pharmacy__item-inn {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  animation: itemIn .5s forwards .5s;
  border-bottom: 5px solid #fff;
}

.top-pharmacy__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 193px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  transition: background-color .5s;
  background-color: #fff;
  &.active {
    animation: changeColor 1.5s;
    animation-iteration-count: 6;
  }
  svg {
    fill: #49ad33;
    width: 64px;
    height: 64px;
  }
}

.top-pharmacy__right {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 15px 15px 15px 50px;
  background-color: #49ad33;
  span {
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: #fff;
  }
}

@keyframes itemOut {
  0% {
    position: relative;
    top: 0;
    right: 0;
    transform: translateX(0);
  }
  99.9% {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes itemIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes changeColor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #ffe623;
  }
  100% {
    background-color: #fff;
  }
}

//end #MAIN LIST
